@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
:root {
  --tmdl: 1s;
  --name: #dfe641;
  --clr-bg: linear-gradient(45deg, #67f238, #f2cf38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic SC", cursive;
  font-size: 250%;
  min-height: 100vh;
  background: var(--clr-bg);
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  height: 100vh;
}

.container .card {
  position: relative;
  width: 40%;
  height: 40%;
  background: #fff;
  border-radius: 10%;
  box-shadow: 0 5px 60px 5px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}
.container .card:hover {
  box-shadow: 0 5px 60px 5px var(--name);
  height: 50%;
  width: 50%;
}

.container .card .contentAvatar {
  position: absolute;
  left: 50%;
  top: -17%;
  transform: translateX(-50%);
  width: 45%;
  height: 45%;
  border-radius: 20%;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  overflow: hidden;
}

.container .card .contentAvatar .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .card .easterEgg {
  height: 20%;
  text-align: center;
}

.container .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-40%);
}
.container .card .btn a {
  text-decoration: none;
  color: black;
}

.container .card .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 70%;
  width: 95%;
}

.container .card .content .nome {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: var(--name);
}

.container .card .content .descricao {
  text-align: center;
  font-size: 60%;
}

.container .card:hover .contentAvatar {
  left: 0;
  top: 70px;
  transition: 1.2s ease-out;
  transition-delay: var(--tmdl);
}

.container .card:hover .avatarLya {
  left: 100%;
}

.container .card:hover .content {
  transform: translateY(20%);
  transition: 1s ease-out;
  transition-delay: var(--tmdl);
}

.container .card:hover .btn {
  transform: translateY(120%);
  transition: 0.9s ease-out;
}

.container .card:hover .btn a {
  transform: scale(1.9);
  transition-delay: var(--tmdl);
  transition: 4s ease-out;
}

.container .card .btn a:hover {
  transition: 0.1s;
  text-shadow: 10px 10px 20px var(--name);
}

@media screen and (max-width: 1920px) {
  .container {
    width: 60%;
  }
}
@media screen and (max-width: 1860px) {
  .container {
    width: 65%;
  }
}
@media screen and (max-width: 1660px) {
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 1560px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 1460px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1360px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1160px) {
  .container {
    width: 95%;
    flex-direction: column;
  }
  .container .card {
    width: 35%;
    height: 35%;
  }
  .container .card:hover {
    height: 40%;
    width: 40%;
  }
  .container .card .easterEgg {
    font-size: 80%;
    height: 12%;
  }
  .container .card:hover .btn a {
    transform: scale(1.2);
    transition-delay: var(--tmdl);
    transition: 4s ease-out;
  }
  .container .card .contentAvatar {
    width: 40%;
    height: 40%;
  }
  .container .card .content {
    height: 70%;
    width: 95%;
  }
  .container .card .content .nome {
    font-size: 180%;
  }
  .container .card .content .descricao {
    font-size: 70%;
  }
}
@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
  }
  .container .card {
    width: 38%;
    height: 38%;
  }
}
@media screen and (max-width: 900px) {
  .container .card {
    height: 32%;
    width: 38%;
  }
  .container .card:hover {
    height: 35%;
    width: 42%;
  }
  .container .card .easterEgg {
    font-size: 50%;
  }
  .container .card .btn a {
    font-size: 75%;
  }
  .container .card .contentAvatar {
    width: 35%;
    height: 35%;
  }
  .container .card .content {
    height: 70%;
    width: 95%;
  }
  .container .card .content .nome {
    font-size: 150%;
  }
  .container .card .content .descricao {
    font-size: 70%;
  }
}
@media screen and (max-width: 800px) {
  .container .card {
    width: 45%;
  }
  .container .card:hover {
    width: 50%;
  }
  .container .card .content .nome {
    font-size: 130%;
  }
  .container .card .content .descricao {
    font-size: 60%;
  }
}
@media screen and (max-width: 700px) {
  .container .card {
    width: 48%;
  }
  .container .card:hover {
    width: 52%;
  }
  .container .card .content .nome {
    font-size: 120%;
  }
  .container .card .content .descricao {
    font-size: 60%;
  }
}
@media screen and (max-width: 600px) {
  .container .card {
    width: 65%;
  }
  .container .card:hover {
    width: 70%;
  }
  .container .card .btn a {
    font-size: 65%;
  }
}
@media screen and (max-width: 500px) {
  .container .card {
    width: 75%;
  }
  .container .card:hover {
    width: 80%;
  }
  .container .card .content .descricao {
    font-size: 50%;
  }
  .container .card:hover .contentAvatar {
    left: 11%;
  }
  .container .card:hover .avatarLya {
    left: 89%;
  }
  .container .card .content .descricao {
    font-size: 55%;
  }
  .container .card .content .nome {
    font-size: 80%;
  }
  .container .card .content .descricao {
    font-size: 60%;
  }
}
@media screen and (max-width: 410px) {
  .container .card {
    height: 34%;
    width: 70%;
  }
  .container .card:hover {
    height: 36%;
    width: 75%;
  }
  .container .card .easterEgg {
    font-size: 50%;
  }
  .container .card .btn a {
    font-size: 55%;
  }
  .container .card .content .nome {
    font-size: 80%;
  }
  .container .card .content .descricao {
    font-size: 40%;
  }
  .container .card:hover .contentAvatar {
    top: 50px;
  }
}
@media screen and (max-width: 340px) {
  .container .card {
    height: 32%;
  }
  .container .card:hover {
    height: 34%;
  }
}
@media screen and (max-width: 320px) {
  .container .card {
    height: 25%;
  }
  .container .card:hover {
    height: 28%;
  }
  .container .card .content .nome {
    font-size: 70%;
  }
  .container .card .easterEgg {
    font-size: 40%;
  }
}/*# sourceMappingURL=style.css.map */